.container {
  display: flex;
  flex-direction: column;

  height: 95vh;

  width: 95vw;

  border: solid 2px lightgray;
  border-radius: 1%;
  box-shadow: 5px 0px 10px 10px rgba(211, 211, 211, 0.507);
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;

    height: 66vh;
    max-height: 600px;

    width: 66vw;
    max-width: 900px;
  }
}
