.panel {
  height: 70%;
  width: 100;

  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;

  padding: 5%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 100%;
  box-sizing: border-box;
}

.title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 22px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .panel {
    height: 100%;
    width: 60%;
  }
}
