.label {
  color: gray;
  font-size: 14px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  height: 25%;
}

.fieldContainerIcon {
  height: 33px;
}

.inputFinantial {
  padding: 0.5rem 2rem;
  border: 1px solid lightgray;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
}

.input {
  padding: 0.5rem 0.5rem;
  border: 1px solid lightgray;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
}
.input:focus,
.inputFinantial:focus {
  outline: none;
  border: 1px solid royalblue;
  box-shadow: 0 0 2px royalblue;
}

input:focus ~ .description {
  display: block;
}

.fieldContainer:hover > span {
  display: block;
}
.description {
  display: none;
  color: gray;
  font-size: 12px;
  margin-top: 0;
}

.financialIcon {
  color: black;
  font-weight: bold;

  left: 0.5rem;
  bottom: 2.2rem;
  margin: none;

  transform: translateY(-50%);
  position: relative;
  width: fit-content;
}
