.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;

  padding: 5%;

  height: 40%;
  width: 100%;
  box-sizing: border-box;

  color: rgba(65, 105, 225, 0.8);
  font-style: italic;
}

.title {
  width: 100%;
  align-self: center;

  font-size: 18px;

  border-bottom: 1px solid lightgrey;
}

.line {
  margin: 0;
}

.result {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
    width: 40%;

    padding: 15% 5%;
  }
}
